
.centered{
    padding-top: 150px;
    padding-left: 560px;
    padding-right: 480px;
    
        
}
@media (max-width:900px) {
    
    .centered{

        padding-top: 150px;
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 100px;
        position: fixed;
        background-color: rgb(51 65 85);
         }
}

.center{
    height: 7em;
}